.canvas
  .contact_links
    %h3 find me elsewhere:
    %ul
      %li
        <a href='mailto&#58;j&#111;nn&#121;&#64;%66&#111;od%74&#114;%6&#53;e&#37;&#50;E%&#54;3o%6D' target='_blank'><img src='/images/mail.png'></a>
      %li= link_to image_tag("facebook.png"), "http://facebook.com/jonnyjohannes", :target => "_blank"
      %li= link_to image_tag("twitter.png"), "http://twitter.com/jonnyjohannes", :target => "_blank"
      %li= link_to image_tag("linkedin.png"), "http://ca.linkedin.com/in/jonnyjohannes", :target => "_blank"
      %li= link_to image_tag("github.png"), "http://github.com/jonnyjohannes", :target => "_blank"
    %h3 check out where I work:
    #foodtree
      = link_to "Foodtree", "http://foodtree.com"