.canvas
  .contact_links
    %h3 find me elsewhere:
    %ul
      %li= link_to image_tag("mail.png"), "mailto:jonny@foodtree.com", :target => "_blank"
      %li= link_to image_tag("facebook.png"), "http://facebook.com/jonnyjohannes", :target => "_blank"
      %li= link_to image_tag("twitter.png"), "http://twitter.com/jonnyjohannes", :target => "_blank"
      %li= link_to image_tag("linkedin.png"), "http://ca.linkedin.com/in/jonnyjohannes", :target => "_blank"
      %li= link_to image_tag("github.png"), "http://github.com/jonnyjohannes", :target => "_blank"
    %h3 check out where I work:
    #foodtree
      = link_to "Foodtree", "http://foodtree.com"