- title "New Canned Food"

%h1= yield(:title)
= form_for @canned_food do |f|
  %p
    = f.label :name, "Name"
    %br/
    = f.text_field :name
  %p
    = f.label :quantity, "Quantity"
    %br/
    = f.text_area :quantity
  %p
    = f.label :quality, "Quality"
    %br/
    = f.text_area :quality
  %p
    = f.label :procedure, "Procedure"
    %br/
    = f.text_area :procedure
  %p
    = f.label :process_pressure_dial_2000, "Process Pressure (Dial) 2000ft"
    %br/
    = f.text_field :process_pressure_dial_2000
  %p
    = f.label :process_pressure_dial_4000, "Process Pressure (Dial) 4000ft"
    %br/
    = f.text_field :process_pressure_dial_4000  
  %p
    = f.label :process_pressure_dial_6000, "Process Pressure (Dial) 6000ft"
    %br/
    = f.text_field :process_pressure_dial_6000
  %p
    = f.label :process_pressure_dial_8000, "Process Pressure (Dial) 8000ft"
    %br/
    = f.text_field :process_pressure_dial_8000
  %p
    = f.label :process_pressure_weighted_below_1000, "Process Pressure (Weighted) Below 1000ft"
    %br/
    = f.text_field :process_pressure_weighted_below_1000
  %p
    = f.label :process_pressure_weighted_above_1000, "Process Pressure (Weighted) Above 1000ft"
    %br/
    = f.text_field :process_pressure_weighted_above_1000
  %p
    = f.label :process_time_pint, "Process Time For Pint"
    %br/
    = f.text_field :process_time_pint 
  %p
    = f.label :process_time_quart, "Process Time For Quart"
    %br/
    = f.text_field :process_time_quart
  %p.button 
    = f.submit