- stylesheet "coderay"

= div_for post do
  %h3
    = link_to_unless_current h(post.title), post
  .date
    = post.created_at.strftime("%B %d, %Y")
  - if admin?
    = link_to 'Edit', edit_post_path(post)
    |
    = link_to 'Destroy', post, :method => :delete, :confirm => "Are you sure?"
  .post_body
    = raw(RDiscount.new(coderay(post.body)).to_html)
    %center= image_tag post.image.url(:large) unless post.image.url(:large) == "/images/large/missing.png"
  .tags
    %strong tags:
    - post.tags.each do |t|
      = link_to t.name, t
    %strong.comment_count comments:
    = link_to h(post.title), post_path(post) + "#disqus_thread", "data-disqus-identifier" => "post_#{post.id}"
