%head
  = auto_discovery_link_tag :atom, posts_path(:atom)
    
- title "weblog"

.grid_9
  .canvas
    .blog_content
      %h1
        = yield(:title)
        = link_to image_tag("/images/rss-shadow.png"), posts_path(:atom), :id => "rss_icon"
      - if admin?
        = link_to 'New Post', new_post_path
  
      %p= will_paginate @posts, :class => "digg_pagination"
      = render :partial => @posts
      %p= will_paginate @posts, :class => "digg_pagination"

.grid_3.sidebar
  = render "shared/contact"
  = render "shared/tags"

:javascript
  var disqus_shortname = 'verivore'; // required: replace example with your forum shortname
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());

