<!DOCTYPE html>
<html>
<head>
  <title>Verivore - <%= h(yield(:title) || "Loving Food and Tech") %></title>  
  <%= stylesheet_link_tag :all %>
  <%= auto_discovery_link_tag :atom, posts_path(:atom) %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <p style="color: green"><%= flash[:notice] %></p>
</head>
<body>
  <div id="header">
	<ul>
		<li><h3><%= link_to "Verivore", root_path%></h3></li>
		<li><%= link_to "Blog", posts_path %></li>
	</ul>
  </div>
  
  <div class="colmask threecol">
  	<div class="colmid">
  		<div class="colleft">
  			<div class="col1">
          <%= yield %>
          			</div>
                      <div class="col2">
          			  <h2></h2>
          			</div>
          			<div class="col3">
          				<div class="nav">
          			  	  <h3>Find Me Elsewhere:</h3>
          			  	  <ul><%= link_to image_tag("mail.png"), "mailto:jonny@foodtree.com"%></ul>
          			  	  <ul><%= link_to image_tag("facebook.png"), "http://facebook.com/jonnyjohannes" %></ul>
          			  	  <ul><%= link_to image_tag("twitter.png"), "http://twitter.com/jonnyjohannes" %></ul>
          						<ul><%= link_to image_tag("linkedin.png"), "http://ca.linkedin.com/in/jonnyjohannes" %></ul>
          				</div>
          			  </div>
          			</div>
          		</div>
          	</div>
            </div>
          </div>
          

</body>
</html>
